h1{
    color: white;
    font-size:400%;
}
h2{
    color:white;
    font: size 500%;
}
img{width: 200px;
    height: 300px;

}
body{
    background-color: rgb(173, 139, 181);
}
details{
    box-shadow:2px 2px 2px black;
    background-color:pink;
}
summary{
    font-size: 50px;
    color: brown;
}
h3{
    color:white;
    font: size 1400px;
}
p{
    color:purple;
    font-size: 20px;
}
table{
    color:beige
}